<form action="/admin/insertadmin" method="post" id="addadminform">
  <div class="form-group">
    <label for="username">Shortname</label>
    <input type="text" name="username" class="form-control" id="newadminusername" placeholder="Enter shortname of new admin.">
  </div>
  <button type="submit" class="btn btn-default" id="addadminsubmit">Submit</button>
</form>
