<form type="post" id="addappointmentform" action="/admin/addappointmentsubmit">
    <fieldset class="form-group">
    <label for="consultationtype">Is the appointment set for the dependent/s?</label>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="dependentYesAdmin" value="yes" checked>
        Yes.
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="dependentNoAdmin" value="no">
         No.
      </label>
    </div>
  </fieldset>
  <div class="form-group" id="dependentname">
    <label for="dependentname">Patient Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="namehelp" placeholder="" name="name">
    <small id="namehelp" class="form-text text-muted"></small>
  </div>

  <div class="form-group" id="addpatientemail">
  
    <label for="dependentname">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="namehelp" placeholder="" name="username">
    <small id="namehelp" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-lexmark-black" id="appointmentsubmitbutton">Set Appointment</button>
</form>