<form action="" method="post">
  <div class="form-group">
    <label for="doctorname">Doctor Name</label>
    <input type="email" class="form-control" id="doctorname" placeholder="Enter doctor's name here.">
  </div>
  <div class="form-group">
    <label for="doctortime">Time</label>
    <input data-provide="timepicker" type="datetime" class="form-control" id="doctortime" placeholder="Time">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>