{% include 'templates/header.twig' %}
{% include 'templates/navigation.twig' %}
<div id="sidebarcontainer">
{% include 'templates/sidebar.twig' %}
</div>
{% include 'templates/sectionheader.twig' %}
{% include 'viewappointment.twig' %}
{% include 'templates/sectionfooter.twig' %}
{% include 'templates/footer.twig' %}